@import "node_modules/ol/ol.css";

body {
  margin: 0;
}
.map {
  width: 100vw;
  height: 95vh;
  margin-top: auto;
  background: #f8f4f0;
}
.toolbar {
  background-color: #16315c;
  width: auto;
  height: 5vh;
}
.ol-control {
    right: 8px !important;
    top: auto !important;
}
.ol-zoom {
    right: 8px !important;
    left: auto !important;
}
.ctrl-undo {
  top: 60px !important;
  right: 60px !important;
}
.ctrl-undo button {
  width: 60px !important;
}
.ctrl-get-grid {
  top: 50%;
  display: flex;
  justify-content: flex-end;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  padding-top: 45px;
}
.ctrl-get-grid button {
  width: 110px !important;
  height: 30px !important;
  right: 10px;
  background-color: #596a85;
}
.ctrl-get-grid-disabled button {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #6d727a;
}
.ctrl-start-sim {
  right: 60px !important;
}
.ctrl-start-sim button {
  width: 150px !important;
  height: 30px !important;
}
.ctrl-start-sim-disabled button {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #ffffff;
}