@import "node_modules/ol/ol.css";

body {
  margin: 0;
}
.map {
  width: 100vw;
  height: 100vh;
  margin-top: auto;
  background: #f8f4f0;
}
.ol-control {
    right: 8px !important;
    top: auto !important;
}
.ol-zoom {
    right: 8px !important;
    left: auto !important;
}
.ctrl-undo {
  top: 60px !important;
  right: 60px !important;
}
.ctrl-undo button {
  width: 60px !important;
}
.ctrl-get-grid {
  right: 200px !important;
}
.ctrl-get-grid button {
  width: 110px !important;
  height: 30px !important;
}
.ctrl-get-grid-disabled button {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #6d727a;
}
.ctrl-start-simulation {
  right: 60px !important;
}
.ctrl-start-simulation button {
  width: 110px !important;
  height: 30px !important;
}
.ctrl-start-simulation-disabled button {
  cursor: not-allowed;
  pointer-events: none;
  color: #c0c0c0;
  background-color: #6d727a;
}